---
import { Font } from 'astro:assets'
import { ClientRouter } from 'astro:transitions'

type SEO = {
  title?: string
  description?: string
  image?: URL
  imageAlt?: string
}
interface Props {
  seo?: SEO
}

import '@/styles/global.scss'

import Logo from '@/components/Logo.astro'

const canonicalURL = new URL(Astro.url.pathname, Astro.site)

const locale = Astro.currentLocale
const openGraphLocale = locale.replace('-', '_')

const defaultSiteImage = new URL('sharing-image.jpg', Astro.site)
const defaultSiteImageAlt =
  'A bunch of yarn skeins in a circle on a table, each skein is a different colour that look make a rainbow'

const { seo = {} } = Astro.props
---

<!doctype html>
<html lang={locale ?? 'en-CA'}>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />

    <title>{seo?.title}</title>
    {seo?.description && <meta name='description' content={seo?.description} />}

    <link rel='canonical' href={canonicalURL} />
    <link rel='sitemap' href='/sitemap-index.xml' />

    <meta property='og:title' content={seo?.title} />
    {
      seo?.description && (
        <meta property='og:description' content={seo?.description} />
      )
    }

    <meta property='og:locale' content={openGraphLocale ?? 'en_CA'} />
    <meta property='og:type' content='website' />
    <meta property='og:url' content={canonicalURL} />
    <meta property='og:image' content={seo?.image ?? defaultSiteImage} />
    <meta
      property='og:image:alt'
      content={seo?.imageAlt ?? defaultSiteImageAlt}
    />

    <meta name='twitter:card' content='summary_large_image' />
    <meta name='twitter:title' content={seo?.title} />
    {
      seo?.description && (
        <meta name='twitter:description' content={seo?.description} />
      )
    }
    <meta name='twitter:image' content={seo?.image ?? defaultSiteImage} />
    <meta
      name='twitter:image:alt'
      content={seo?.imageAlt ?? defaultSiteImageAlt}
    />

    <meta name='theme-color' content='#FFFFFF' />
    <meta name='color-scheme' content='only light' />

    <link rel='icon' href='/favicon.ico' sizes='any' />
    <link rel='icon' href='/icon.svg' type='image/svg+xml' />
    <link rel='apple-touch-icon' href='/apple-touch-icon.png' />

    <link rel='manifest' href='/manifest.webmanifest' />

    <Font cssVariable='--primary-font' />
    <Font cssVariable='--heading-font' />
    <ClientRouter />
  </head>
  <body>
    <div class:list={'layout'}>
      <Logo />
      <slot />
    </div>
  </body>
</html>
